flows.json
[{"id":"9906fbfc373d2250","type":"tab","label":"Test","disabled":false,"info":"","env":[]},{"id":"d3cd10c4a08153d4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"354ef80c89fc4cb8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fac8a5df255c5f50","type":"inject","z":"9906fbfc373d2250","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":60,"wires":[["c504cb4474bfa15a","4bf4871cc8a6d1c2"]]},{"id":"c504cb4474bfa15a","type":"debug","z":"9906fbfc373d2250","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"149fb36ee123d8a1","type":"mqtt in","z":"9906fbfc373d2250","name":"","topic":"#","qos":"2","datatype":"auto","broker":"354ef80c89fc4cb8","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":200,"wires":[["d49e0d5a243d53b9"]]},{"id":"d49e0d5a243d53b9","type":"debug","z":"9906fbfc373d2250","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"4bf4871cc8a6d1c2","type":"mqtt out","z":"9906fbfc373d2250","name":"","topic":"test/time","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"354ef80c89fc4cb8","x":460,"y":40,"wires":[]},{"id":"9d24074a2451fbb9","type":"inject","z":"d3cd10c4a08153d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor/heartrate","payload":"180","payloadType":"num","x":250,"y":100,"wires":[["aea72340e9da5c51","e8ac8ef12fcb52e0"]]},{"id":"aea72340e9da5c51","type":"debug","z":"d3cd10c4a08153d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"e8ac8ef12fcb52e0","type":"mqtt out","z":"d3cd10c4a08153d4","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"354ef80c89fc4cb8","x":470,"y":140,"wires":[]}]